/* This is the Overall Main Content Styling */
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: "Source Sans Pro", sans-serif;
}
.headerImages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lafargeLogo{
    max-width: 248px;
}
.maintenanceLogo{
    max-width: 113px;
}
h1{
    margin-top: 3%;
}
h2{
    font-size: 1.6em;
}
h3{
    font-size: 1.4em;
}
h4{
    margin-top: 0%;
}
td{
    padding: 12px;
}
.redText{
    color: red;
}
button{
    border: thin;
    border-color: black;
}
.hiddenPrompt{
    display: none;
}
.importantText{
    font-weight: bold;
}
.checklistTitle{
    font-weight: bold;
    text-decoration: underline;
}
.formInputs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.twoTemps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.singleItem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.inputLabel{
    font-family: Roboto, sans-serif;
    margin-bottom: 0.5em;
    font-weight: 600;
}
.radioLabel{
    font-weight: 600;
    margin-bottom: 0.73em;
}
.submitButton{
    align-self: flex-end;
    border: 1px solid green;
    border-radius: 2em;
    background-color: green;
    color: white;
    width: 20%;
    height: 4em;
    margin-top: 3em;
    cursor: pointer;
    transition: all .1s ease-in-out;
    min-width: 100px
}
.submitButton:hover{
    background-color: rgb(40, 236, 40);
    border-color: transparent;
    transition: all .1s ease-in-out;
}
.spacing{
    margin-bottom: 0.7em;
}

/* End of Main Content Styling */

/* Collapsable Styling */
.collapsible {
    /* Style the button that is used to open and close the collapsible content */
    background-color: #f9f900;
    font-weight: 600 ;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
      /* Add a background color to the button if it is clicked on (add the .active class with JS),
       and when you move the mouse over it (hover) */
    background-color: #f9f900;
}
  
.content {
      /* Style the collapsible content. Note: hidden by default */
    padding: 0px 18px;
    display: none;
    justify-content: center;
    overflow: hidden;
    background-color: #ffff9b;
    overflow-x: scroll;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
}
/* End of Collapsable Styling */

/* This Disables the default Scrollbar */
::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 0.5em;
}
::-webkit-scrollbar-thumb{
    border-radius: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
}
/* End of Scrollbar Disable */

/* Checkbox Styling */
input[type="checkbox"], input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
}
input[type="checkbox"] {
    position: relative;
    width: 2em;
    height: 2em;
    border: 1px solid black;
    border-radius: 20%;
    vertical-align: -12px;
    color: #009c74;
}
input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 2em;
    right: 2px;
    top: -0.3em;
    visibility: hidden;
}
input[type="checkbox"]:checked::before {
    visibility: visible;
}
/* End of Checkbox Styling */

/* Radio Button Styling */
input[type="radio"] {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid black;
    border-radius: 50%;
    vertical-align: -5px;
}
input[type="radio"]::before {
    content: "";
    position: absolute;
    font-size: 1.5em;
    right: 0.169em;
    top: 0.14em;
    width: 0.57em;
    height: 0.60em;
    background-color: #009c74;
    border-radius: 50%;
    visibility: hidden;
}
  
input[type="radio"]:checked::before {
    visibility: visible;
}
/* End of Radio Button Styling */

/* Input Fields Styling */
input[type="text"]{
    border: 1.95px solid black;
    border-radius: 0.5em;
    margin-bottom: 0.8em;
    width: 175px;
    height: 30px;
}
input[type="date"]{
    border: 1.9px solid black;
    border-radius: 0.5em;
    padding: 6px 10px;
    width: 175px;
    height: 30px ;
    margin-bottom: 0.8em;
}
input[type="number"]{
    border: 1.9px solid black;
    border-radius: 0.5em;
    width: 25%;
    max-width: 85px;
    height: 2.5em;
    text-align: center;
    vertical-align:middle;
}
/* End of Input Field Styling */

/* Responsive Screensize Styling */
@media (max-width: 580px){
    .formInputs{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: nowrap;
    }
    .twoTemps{
        flex-direction: column;
        align-content: space-around;
        flex-wrap: nowrap; 
    }
    .content{
        justify-content: flex-start;
    }
    
}
@media (max-width:820px) {
    .twoTemps>label:nth-child(1){
    flex-basis: 50%;
    justify-content: space-evenly;
    min-width: 200px;
    align-content: center;
    }
    .twoTemps>label:nth-child(2){
    flex-basis: 50%;
    justify-content: space-evenly;
    min-width: 200px;
    }
    .twoTemps>label:nth-child(3){
    flex-basis: 50%;
    justify-content: space-evenly;
    min-width: 220px;
    }
    .twoTemps>label:nth-child(4){
    flex-basis: 50%;
    justify-content: space-evenly;
    min-width: 220px;
    }

}
@media (min-width: 961px){
    .formInputs{
        display: flex;
        flex-direction: row;
        flex-basis: auto;
        flex-grow: 1;
    }
    .headerImages{
        justify-content: space-around;
    }
}
/* End of Responsive Styling */
#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .75) url(Images/spinner.svg) no-repeat center center;
    z-index: 10000
}