/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #f9f900;
    font-weight: 600 ;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #f9f900;
}
  
  /* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffff9b;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.checklistTitle{
      font-weight: bold;
      text-decoration: underline;
}

td{
    padding: 12px;
}
.redText{
    color: red;
}
body{
    background-color: white;
}
button{
    border: thin;
    border-color: black;
}
.importantText{
    font-weight: bold;
}