<!-- Version 1.0 Juan De Leon 07/07/2021 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Brechin Primary Daily Checklist</title>
    <!-- Website Tab Title Can Be Changed^^^ -->
</head>

<body>
    <header>
        <!-- This Header Includes the Logos and Titles, Try not to change the Logo Sizing but the Titles can just be changed! -->
        <div class="headerImages">
            <img src="../public/images/lafargeLogo.png" class="lafargeLogo" width="40%" height="10%">
            <img src="../public//images/maintenanceLogo.png" class="maintenanceLogo" width="18%">
        </div>
        <!-- Change Titles Below between h1 and h2 tags -->
        <h1>Brechin Daily Checklist</h1>
        <h2>Primary</h2>
    </header>
    <form action="/submitData" method="POST" id="primaryForm" name="primaryForm">
        <!-- this is what controls the form and where it gets sent^^^!!! -->
        <section>
            <div class="formInputs">
                <!-- Name, Date and Shift Inputs -->
                <!-- name -->
                <label class="inputLabel">
                    <div>Name:</div>
                    <input type="text" name="employee" id="employee" required>
                </label>
                <!-- Date -->
                <label class="inputLabel">
                    <div>Date:</div>
                    <input type="date" name="date" id="date" required>
                </label>
                <!-- shifts -->
                <label class="radioLabel">Shift:
                    <div></div>
                    <label>
                        <span class="inputLabel">1</span>
                        <input type="radio" name="shift" id="shift1" value="1" required>
                    </label>
                    <span></span>
                    <label>
                        <span class="inputLabel">2</span>
                        <input type="radio" name="shift" id="shift2" value="2">
                    </label>
                </label>
            </div>
        </section>

        <!-- Button TuneUp -->
        <!-- Hidden Text Fields -->
        <!-- Post to web -->

        <section>
            <!-- This is the content inside the Collapsible -->
            <button type="button" class="collapsible">Conveyors, Stacker Checklist</button>
            <!-- Collapsible Title can be Changed ^^ -->
            <div class="content">
                <table>
                    <!-- All the content is in this Table^ -->
                    <tr>
                        <!-- Each "tr" is a row in the table and "td" is each element in the row,
                             all the text can be changed depending on the form  -->
                        <td>Guards Present and undamaged</td>
                        <td class="checklistTitle">Frame</td>
                        <td class="checklistTitle">Belt</td>
                        <td class="checklistTitle">Pulleys, Idlers</td>
                        <td class="checklistTitle">Drive</td>
                        <td class="checklistTitle"> Gear box</td>
                    </tr>
                    <tr>
                        <td>Clean Walk-unders</td>
                        <td>Structure</td>
                        <td>Alignment</td>
                        <td>Buildup, Lagging</td>
                        <td>V-belts/Chain</td>
                        <td>Oil Level & Temp</td>
                    </tr>
                    <tr>
                        <td>Clean Gravity</td>
                        <td>Chutes</td>
                        <td>Wear Tears Holes</td>
                        <td>Impact Beds for Wear</td>
                        <td>Gearbox, Bearings</td>
                        <td class="redText">(max 190°F)</td>
                    </tr>
                    <tr>
                        <td>Take-up Enclosure</td>
                        <td>Skirting</td>
                        <td>Splices, Scrapers</td>
                        <td>Retention Chains</td>
                        <td>Electrical Cables</td>
                        <td>Oil Level if Leakage Exists</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Buildup</td>
                        <td>Rollers</td>
                        <td>Bearing, Idlers</td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <h3>Conveyors</h3>
            <h4>Discharge 1444180</h4>
            <!-- "h3" and "h4" are just titles with h3 being the bigger one these can be changed ^ -->
            <div class="formInputs">
                <!-- These are the Inputs for every specific Part the titles can be changed-->
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4180" value="checked" onclick="displayPrompt('defect1444180')">
                </label>
                <div class="hiddenDefect" id="defect1444180">
                    <label class="inputLabel">
                        <span>Defect:</span>
                        <textarea wrap="soft" cols="40" type="text" name="" placeholder="Type Defect Here"></textarea>
                    </label>
                </div>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4180" value="checked">
                </label>
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4180" pattern="[0-9]*" inputmode="numeric">
                </label>
            </div>
            <!-- Repeat for Every Part copy/Paste-->
            <h4>Primary Transfer 1444179</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4179" value="checked" onclick="displayPrompt('defect1444179')">
                </label>
                <div class="hiddenDefect" id="defect1444179">
                    <label class="inputLabel">
                        <span>Defect:</span>
                        <input type="text" name="" placeholder="Type Defect Here">
                    </label>
                </div>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4179" value="checked">
                </label>
                <label>
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4179" pattern="[0-9]*" inputmode="numeric">
                </label>
            </div>
            <!-- Repeat with h3 Title for every Major Section -->
            <h3>Stacker</h3>
            <h4>Primary 1444178</h4>
            <div class="formInputs">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d4178" value="checked" onclick="displayPrompt('defect1444178')">
                </label>
                <div class="hiddenDefect" id="defect1444178">
                    <label class="inputLabel">
                        <span>Defect:</span>
                        <input type="text" name="" placeholder="Type Defect Here">
                    </label>
                </div>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g4178" value="checked">
                </label>
                <label class="spacing">
                    <span>Gearbox Temp (°F)</span>
                    <input type="number" name="gt4178" pattern="[0-9]*" inputmode="numeric">
                </label>
            </div>
        </section>

        <section>
            <!-- repeat of Table Section above just different text, amount of rows and columns -->
            <button type="button" class="collapsible">Feeder Checklist</button>
            <div class="content">
                <table>
                    <tr>
                        <td>Unusual Noises</td>
                        <td>Frame Cracks</td>
                        <td>Springs, Bolts</td>
                        <td>Oil Level Leaks</td>
                    </tr>
                    <tr>
                        <td>Clean Grizzly Bars</td>
                        <td>Material Buildup</td>
                        <td>Clean Breather</td>
                        <td>Catwalks</td>
                    </tr>
                    <tr>
                        <td>Grizzly Bar Cracks</td>
                        <td>V-Belts</td>
                        <td>Liners</td>
                        <td>Motor Mounts</td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <!-- Repeat of the Input Section Above Except this one has 2 extra inputs for drive and non drive side -->
            <h3>Feeder</h3>
            <h4>Cedarapids 1740004</h4>
            <div class="twoTemps">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d0004" value="checked" onclick="displayPrompt('defect1740004')">
                </label>
                <div class="hiddenDefect" id="defect1740004">
                    <label class="inputLabel">
                        <div>Defect:</div>
                        <input type="text" name="Defect1" placeholder="Type Defect Here">
                    </label>
                </div>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g0004" value="checked">
                </label>
                <label class="spacing">
                    <span>Drive Side Temp (°F)</span>
                    <input type="number" name="dst0004" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Non Drive Side Temp (°F)</span>
                    <input type="number" name="ndst0004" pattern="[0-9]*" inputmode="numeric">
                </label>
            </div>
        </section>

        <section>
            <!-- repeat of Table Section above just different text, amount of rows and columns -->
            <button type="button" class="collapsible">Hydraulic Breaker Checklist</button>
            <div class="content">
                <table>
                    <tr>
                        <td>Frames for Cracks</td>
                        <td>Check Hammer Head & Chisel</td>
                        <td>Steel Line Retainers</td>
                        <td>Grease Hoses & Fittings</td>
                    </tr>
                    <tr>
                        <td>Pins & Bolts, No movement of Base</td>
                        <td>Hoses, Steel Lines</td>
                        <td>Check Oil Level</td>
                        <td>Boom Pins & Bushings</td>
                    </tr>
                    <tr>
                        <td>Grizzly Bar Cracks</td>
                        <td>V-Belts</td>
                        <td>Liners</td>
                        <td>Motor Mounts</td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <!-- Repeat of the Input Section Above -->
            <h3>Hydraulic Breaker</h3>
            <div class="singleItem">
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="gHydrBreaker" value="checked">
                </label>
            </div>
        </section>

        <section>
            <!-- repeat of Table Section above just different text, amount of rows and columns -->
            <button type="button" class="collapsible">Crusher</button>
            <div class="content">
                <table>
                    <tr>
                        <td>Clean Catwalks</td>
                        <td class="checklistTitle">Check for Wear:</td>
                        <td>Carrier Bars</td>
                        <td class="checklistTitle">Check for:</td>
                        <td class="checklistTitle">Main Bearing Temp:</td>

                    </tr>
                    <tr>
                        <td>Clean Steps</td>
                        <td>Interior/Exterior</td>
                        <td>Chain Curtain</td>
                        <td>Dust Buildup</td>
                        <td class="redText">Max 180 °F</td>
                    </tr>
                    <tr>
                        <td>Unusual Noises</td>
                        <td>Loose Bolts</td>
                        <td>Bearing Seals</td>
                        <td>Drive Sheave</td>
                        <td class="redText">(EAST/WEST)</td>
                    </tr>
                    <tr>
                        <td>Grease Main Bearings (24 shots each)</td>
                        <td>Impeller Caps</td>
                        <td>Cracks</td>
                        <td>Main Bearings Shaft</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <!-- Repeat of the Input Section Above -->
            <h3>Crusher</h3>
            <h4>Cedarapids 5348 1639046</h4>
            <div class="twoTemps">
                <label class="spacing">
                    <span>Defect Present</span>
                    <input type="checkbox" name="d9046" value="checked" onclick="displayPrompt('defect1639046')">
                </label>
                <div class="hiddenDefect" id="defect1639046">
                    <label class="inputLabel">
                        <div>Defect:</div>
                        <input type="text" name="Defect1" placeholder="Type Defect Here">
                    </label>
                </div>
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="g9046" value="checked">
                </label>
                <label class="spacing">
                    <span>Drive Side Temp (°F)</span>
                    <input type="number" name="dst9046" pattern="[0-9]*" inputmode="numeric">
                </label>
                <label class="spacing">
                    <span>Non Drive Side Temp (°F)</span>
                    <input type="number" name="ndst9046" pattern="[0-9]*" inputmode="numeric">
                </label>
            </div>
        </section>

        <section>
            <!-- repeat of Table Section above just different text, amount of rows and columns -->
            <button type="button" class="collapsible">Belt Scale</button>
            <div class="content">
                <table>
                    <tr>
                        <td>Material Buildup on Rollers</td>
                        <td>Check Belt Readout Registers "0" on Empty Belt</td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <!-- Repeat from Input section Above -->
            <h3>Belt Scale</h3>
            <h4>Field Conveyor</h4>
            <div class="singleItem">
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="gBeltScale" value="checked">
                </label>
            </div>
        </section>

        <section>
            <!-- repeat of Table Section above just different text, amount of rows and columns -->
            <button type="button" class="collapsible">Electrical</button>
            <div class="content">
                <table>
                    <tr>
                        <td class="checklistTitle">Check:</td>
                        <td>Check Lights</td>
                        <td>Electrical Panel Doors</td>
                    </tr>
                    <tr>
                        <td>Material Buildup</td>
                        <td>No Flamables</td>
                        <td>Oil Leaks on Transformer</td>
                    </tr>
                    <tr>
                        <td>Locks/Lock-Out Tags</td>
                        <td>Electric Diagram</td>
                        <td class="importantText">Primary Operator to Clean Electrical Trailer Daily</td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td>Fire Extinguisher</td>
                    </tr>
                </table>
            </div>
        </section>

        <section>
            <h3>Electrical</h3>
            <div class="singleItem">
                <label class="spacing">
                    <span>Guarding/Safety device</span>
                    <input type="checkbox" name="gElectrical" value="checked">
                </label>
            </div>
        </section>

        <section>
            <!-- repeat of Table Section above just different text, amount of rows and columns -->
            <button type="button" class="collapsible">Electrical Trailer</button>
            <div class="content">
                <table>
                    <tr>
                        <td> 1x Square Mouth Shovel</td>
                        <td>Handheld Jack Hammer</td>
                        <td>2x Adjust Wrenched</td>
                        <td>Spanners: 7/16" - 1 1/4"</td>
                    </tr>
                    <tr>
                        <td>2x Round Mouth Shovels</td>
                        <td>Electrical Extention Cords</td>
                        <td>2x Grease Guns</td>
                        <td>2x Ratchets + Sockets 1/2", 3/4", 15/16"</td>
                    </tr>
                    <tr>
                        <td>2x Crow Bars (2 sizes)</td>
                        <td>1x Sledge Hammer</td>
                        <td>Utility Knife, come-along</td>
                        <td>Flashlight, First Aid Kit</td>
                    </tr>
                </table>
            </div>
        </section>


        <section>
            <h3>Electrical Trailer</h3>
            <div class="formInput">
                <label class="spacing">
                    <span>Tools in Shed</span>
                    <input type="checkbox" name="tools" value="checked">
                </label>
            </div>
        </section>

        <div class="formInputs">
            <button type="submit" class="submitButton">Submit</button>
        </div>
        <div id="loader"></div>
    </form>

</body>
<footer>
    <script src="../public/js/collapsibleBar.js"></script>
    <script src="../public/js/displayPrompt.js"></script>
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
</footer>

</html>